.page {
    background-color: green;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.headline {
    text-align: center;
}

.aspect-fill {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.white-text {
    color: rgb(255, 255, 255);
}

.blue-text {
    color: blue;
}

.ytvideo {
    width: 755px;
    height: 424px;
    max-width: 100%;
    max-height: clac((100vw - 40px) / (16/9));
}

.aspect-fill-center {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center 0px;
}



.colored-block {
    background-color:rgb(223, 230, 233);
    height: 200px;
}

.background {
    background-color: rgb(178, 190, 195);
}


.transparent-style{
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.container {
    width: auto;
    padding: 0 15px;
}

.footer {
    text-align: center;
    background-color:rgb(223, 230, 233);
    padding-bottom: 10px;
}

.navbar {
    position: fixed;
    z-index: 10;
    height: 50px;
}

.aboutpage {
    background-color:pink;
}

.padded-title {
    padding-top: 100px;
}

.about-container {
    padding-top: 100px;
    min-height: 1000px;
}

.landing-container {
    padding-top: 100px;
    min-height: 1000px;
}

.game-page {
    background-color:pink;
}

.game-container {
    padding-top: 100px;
    min-height: 1000px;
}

.live-game {
    width: 1920px;
    height: 1080px;
}

.game-introduction {
    background-color: sandybrown;
    margin-top: 40px;
}